
body{
	font-family: Impact;
	font-size: 50px;
	background-image: url(wallpaper.jpg);
	margin: 0;
	color: #c5c5c5;
	-webkit-animation: opac 0.7s;
	-moz-animation: opac 0.7s;
	-o-animation: opac 0.7s;
	animation: opac 0.7s;
}
p.hi{
	/*background-color: rgba(248, 103, 120, 0.5);  Розовый цвет, если надо*/
	color: rgb(240, 103, 120);
	background-color: rgba(200,200,200, 0.5);
	white-space: pre-wrap;
	padding-left: 90px;
	padding-top: 20px;
	-webkit-border-radius: 4px 50px 4px 50px;
	-moz-border-radius: 4px 50px 4px 50px;
	border-radius: 4px 50px 4px 50px;
	height: 500px;
	width: 705px;
	margin: 200px 200px;
	margin-bottom: 0;
	font-size: 75px;
	text-shadow: 4.5px 4.5px black;
	-webkit-box-shadow: 4px 5.5px  rgba(40,40,40, 0.5);
	-moz-box-shadow: 4px 5.5px  rgba(40,40,40, 0.5);
	box-shadow: 4px 5.5px  rgba(40,40,40, 0.5);
}
p.ans{
	color: rgb(240, 103, 120);
	font-size: 65px;
	text-shadow: 3.5px 3.5px black;
	display: inline-block;
	margin: 0;
	-webkit-transform: translate(400px, -250px);
	-moz-transform: translate(400px, -250px);
	-ms-transform: translate(400px, -250px);
	-o-transform: translate(400px, -250px);
	transform: translate(400px, -250px);
}

/* КНОПКИ ----------------------------------------------------------------------------------------*/
a{
	text-decoration: none;
	color: #c5c5c5;
}
li{
	display: inline-block;
	background-color: #afafaf;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 5px;
	-webkit-box-shadow: black 4px 4.5px;
	-moz-box-shadow: black 4px 4.5px;
	box-shadow: black 4px 4.5px;
}									
li:hover{							 
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	background-color: rgb(240, 103, 120);	
}									
ul{						
	list-style: none;
	margin-top: -230px;
	margin-left: 250px;	
	margin-bottom: 0;
	text-shadow: 3px 3px black;
}						
.video{					
	margin-right: 350px;
}						
/* анимация для фона  ---------------------------------------------------------------------------*/
@-webkit-keyframes opac{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@-moz-keyframes opac{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@-o-keyframes opac{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes opac{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@media screen and (max-width: 1080px) {
	body{
		background-image: url(wallpaper1920.jpg);
	}
	p.hi{
		margin-top: 700px;
		margin-left: 90px;
	}
	p.ans{
	-webkit-transform: translate(340px, -250px);
	-moz-transform: translate(340px, -250px);
	-ms-transform: translate(340px, -250px);
	-o-transform: translate(340px, -250px);
	transform: translate(340px, -250px);
	}
	ul{
		margin-left: 190px;
	}
}