body{
	background-color: black;
}
img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	height: 750px;
	transition: .3s;
}
img:hover {
	transition: .3s;
  	transform: scale(1.3);
}
a{
	display: block;
	margin-left: auto;
  	margin-right: auto;
	width: 400px;
	font-size: 70px;
	text-decoration: none;
	color: #D72767;
	transition: .1s;
}
