body{
	font-family: Impact;
	margin: 0px;
	background-image: url("darkness.png");
}
ul{
	border: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}
.all li{
	background-color: black;
	display: inline-block;
	height: 71px;
	margin: -1.2px;
	width: 384px;
	text-align: center;
}
li:hover{
	background-color: white;
}
a:hover{
	color: #69AD03;
}
.site > a{
	padding: 1.3% 0 0 0;
	width: 100%;
}
a{
	padding: 1.3% 0 0 0;
	font-size: 50px;
	text-decoration: none;
	color: #A800C6;
	display: inline-block;
	width: 100%;
}
@media only screen and (max-width: 1080px){
	body{
		-webkit-background-size: 3000px 3000px;
		-o-background-size: 3000px;
		background-size: 3000px;
	}
	li.html{
		margin-left: 150px;
		border: 10px solid #aaa;
		margin-top: 10px;
	}
	li.css{
		margin-left: 150px;
		border: 10px solid #aaa;
		margin-top: 10px;
	}
	li.site{
		margin-left: 150px;
		border: 10px solid #aaa;
		margin-top: 10px;
	}
	li{
	background-image: url(navig.jpg);
	border: 0;
	display: inline-block;
	height: 71px;
	margin: -1.2px;
	width: 640px;
}
}