body{
	font-family: Impact;
	margin: 0px;
	background-image: url(darkness.png);
}
ul{
	border: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}
.all li{
	background-image: url(navig.jpg);
	border: 0;
	display: inline-block;
	height: 71px;
	margin: -1.2px;
	width: 640px;
}

li.css{
	background-position: -641px 0;
}
li.site{
	background-position: -1282px 0;
}
li.html:hover{
	background-position: 0 -73px;
}
li.css:hover{
	background-position: -640px -73px;
}
li.site:hover{
	background-position: -1283px -73px;
}
a{
	display: inline-block;
	height: 73px;
	width: 640px;
}
@media only screen and (max-width: 1080px){
	body{
		-webkit-background-size: 3000px 3000px;
		     -o-background-size: 3000px;
		        background-size: 3000px;
	}
	li.html{
		margin-left: 150px;
		border: 10px solid #aaa;
		margin-top: 10px;
	}
	li.css{
		margin-left: 150px;
		border: 10px solid #aaa;
		margin-top: 10px;
	}
	li.site{
		margin-left: 150px;
		border: 10px solid #aaa;
		margin-top: 10px;
	}
	li{
	background-image: url(navig.jpg);
	border: 0;
	display: inline-block;
	height: 71px;
	margin: -1.2px;
	width: 640px;
}
}