body{
	font-family: Franklin Gothic Medium; 
	font-weight: bold;
	background-attachment: fixed; 
	background-image: url(F:/SiteSong/img/maxresdefault.jpg);
	background-size: cover;
	padding: 0px;
	margin: 0px;
}
#content{
	min-height: 700px;
	min-width: 1500px;
	max-width: 1500px;
	background: #680246FF;
	margin: 5px auto;
	border-radius: 4px 4px 4px 4px;
	border: inset 5px #900261FF;
}
#video{
	display: block;
	margin: 10px auto;
}
#text{
	border: solid 3px #494949;
	margin-left: 465px;
	max-width: 550px;
	min-height: 50px;
	max-height: 50px;
	overflow: hidden;
	display: block;
	border-radius: 7px 7px 7px 7px;
	background-color: #BEBAD3FF;
	transition: max-height 0.5s;
	white-space: pre-line;
	padding: 5px;
}
#text:hover{
	transition: max-height 0.5s;
	max-height: 1000px;
}